<ion-header>
  <ion-toolbar>
    <ion-title>
      WaterMonitor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">

  <div *ngIf="!ssid">
    <h2 padding-start padding-end>Wähle dein WLAN aus!</h2>

    <ion-button padding-start padding-end margin-bottom (click)="scanWifi()" color="primary">WLAN Erneut scannen</ion-button>
    <ion-virtual-scroll margin-top [items]="wifi">
      <ion-item (click)="getSSID(item.SSID)" padding-start padding-end class="item" lines="none"
        *virtualItem="let item; let i = index">
        <ion-icon class="ion-float-left" ios="ios-wifi" md="md-wifi"></ion-icon> {{ item.SSID }}
      </ion-item>
    </ion-virtual-scroll>
  </div>



  <div *ngIf="ssid && spinner != true">
    <ion-item padding>
      <ion-text>
        <h2>Schalte den Empfänger ein.</h2>
        <h6>
          Trage das WLAN-Passwort ein und schalte anschließend das Empfangsgerät ein. Falls das Gerät schon an war, 
          schalte es zunächst aus und im Anschluss wieder ein.
          Drücke nach dem Anschalten auf "VERBINDEN". Dieser Vorgang kann bis zu mehreren Minuten dauern, schalte während des
          Vorganges das Gerät und das Smartphone nicht aus.
        </h6>
      </ion-text>
    </ion-item>

    <ion-item padding-start padding-end>
      <ion-label>WIFI: {{ ssid }}</ion-label>
    </ion-item>

    <form (ngSubmit)="sendCredentials()">
      <ion-item padding-start padding-end>
        <ion-label>Name: </ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      <ion-button float-right padding-top padding-bottom padding-end (click)="unsetSSID()" color="primary">Zurück
      </ion-button>
      <ion-button float-right [class.button-disabled]="!password" padding type="submit" color="primary">Verbinden
      </ion-button>
    </form>
  </div>

  <ion-grid *ngIf="spinner == true">
    <ion-row justify-content-center>
      <ion-spinner color="primary" name="crescent"></ion-spinner>
    </ion-row>
  </ion-grid>

</ion-content>