<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ sensor.sensorName }}
      <ion-icon float-right (click)="closeModal()" ios="ios-close" md="md-close"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">

  <form (ngSubmit)="updateSensor()">

    <ion-button float-left padding-start margin-bottom margin-top (click)="takePhoto(0)">Bild Aufnehmen</ion-button>
    <ion-button float-left padding-end margin-bottom margin-top (click)="takePhoto(1)">Gallerie</ion-button>
    <div [style.backgroundImage]="'url('+sensor.image+')'" class="image"></div>

    <ion-item padding-start padding-end>
      <ion-label>Name: </ion-label>
      <ion-input type="text" [(ngModel)]="sensor.sensorName" [value]="sensor.sensorName" name="sensorName"></ion-input>
    </ion-item>
    <ion-item padding-start padding-end margin-top>
      <ion-label>Wasserbedarf: </ion-label>
      <ion-input type="number" [(ngModel)]="sensor.duration" [value]="sensor.duration" name="duration"></ion-input>
    </ion-item>
    <ion-item padding-start padding-end margin-top>
      <ion-label>Raum: </ion-label>
      <ion-input type="text" [(ngModel)]="sensor.room" [value]="sensor.room" name="room"></ion-input>
    </ion-item>


    <ion-button float-right padding-end margin-top type="submit" color="primary">Speichern</ion-button>
    <ion-button float-right padding-start margin-top (click)="deleteSensor()">Sensor Löschen</ion-button>
  </form>

</ion-content>