// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

:root {
    --accent: rgb(255, 23, 68);
    --ion-color-primary: rgb(255, 23, 68);
}

.bg {
    --background: rgb(43, 43, 43);
}

ion-item {
    --ion-background-color: rgb(63, 63, 63);
    --border-radius: 10px;
    --color: white;
    --box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
    --padding-start: 0px;
    contain: none;
    overflow: visible;
}

ion-virtual-scroll {
    contain: none;
    overflow: visible;
}